body {
  font: 11pt verdana, arial, helvetica, sans-serif;
  margin: 0;
}



a {
  color: deepskyblue;
  text-decoration: none;
}

a:hover {
  color: cornflowerblue;
  text-decoration: underline;
}



h1, h2, h3, h4, h5 {
  font-weight: normal;
}



header {
  background-color: gainsboro;
}



nav {
  text-align: right;
  margin: auto;
  width: 1000px;
}

nav > a {
  color: black !important;
  font-size: 24pt;
  font-weight: bold;
  text-decoration: none !important;
  float: left;
  display: inline-block;
  padding: 8px 0;
  letter-spacing: -0.0625em;
}

nav > a:before {
  content: '*cat';
}

nav > a:after {
  content: 'js game engine';
  font-size: 12pt;
  font-weight: normal;
  letter-spacing: -0.0625em;
  margin-left: 4px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  text-shadow: 1px 1px 0 white;
  display: inline-block;
  padding: 20px;
}

nav li:last-child {
  padding-right: 0;
}

nav li a {
  text-decoration: none !important;
  color: grey;
}



div#box {
  margin: auto;
  width: 1000px;
}



div#sidebar {
  float: left;
  width: 200px;
}

div#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div#sidebar ul ul {
  margin-left: 20px;
}



div#content {
  margin-left: 200px;
  margin-right: 200px;
}

div#content h2 {
  border-top: 4px solid gainsboro;
  padding-top: 24px;
  margin-top: 24px;
}

div#content h3, div#content h4, div#content h5 {
  font-family: monospace;
  display: inline;
}

div#content h4:before {
  content: '(';
}

div#content h4:after {
  content: ')';
}

div#content h5:before {
  content: ':';
  margin: 0 8px;
}

div#content pre {
  font-size: 9pt;
  margin-bottom: 24px;
}

div#content code {
  overflow: auto;
}

div#content :not(pre) code {
  display: inline;
  padding: 0;
}

div#content h4 + p, div#content h5 + p {
  margin-top: 8px;
}
